<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.beniceman.mathfacts"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.beniceman.mathfacts.Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.beniceman.mathfacts.Activity_Computation"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/title_computation" >
        </activity>
        <activity
            android:name="com.beniceman.mathfacts.UserSettingActivity"
            android:label="@string/title_activity_usersetting"
            android:parentActivityName="com.beniceman.mathfacts.Activity_Computation" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.beniceman.mathfacts.Activity_Computation" />
        </activity>
        <activity
            android:name="com.beniceman.mathfacts.About"
            android:label="@string/title_activity_about"
            android:parentActivityName="com.beniceman.mathfacts.Activity_Computation" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.beniceman.mathfacts.Activity_Computation" />
        </activity>
        <activity
            android:name="com.beniceman.mathfacts.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="com.beniceman.mathfacts.ChangePasswordActivity"
            android:label="@string/title_activity_change_password" 
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
    </application>

</manifest>